    <div class="b-personal-info">
        <div class="b-personal-info__foto">
            <img class="b-personal-info__foto_size" src="{{image_path}}" alt=""/>
        </div>
        <div class="b-personal-info__name">
            <div class="b-list-info">
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">FirstName:</div>
                        <div class="b-list-element__text">{{firstName}}</div>
                    </div>
                </div>
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">LastName:</div>
                        <div class="b-list-element__text">{{lastName}}</div>
                    </div>
                </div>


            </div>
        </div>
        <div class="b-personal-info__mail">
            <div class="b-list-info">
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">Mail:</div>
                        <div class="b-list-element__text">{{mail}}</div>
                    </div>
                </div>

                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">Role:</div>
                        <div class="b-list-element__text">{{role}}</div>
                    </div>
                </div>



            </div>
        </div>


        <div class="b-personal-info__buttons">


            <div class="b-user-list-control-button">

                <div class="b-user-list-control-button__delete">
                    <button class="b-button-icon b-button-icon_circle b-button-icon_red js-user-remove" >
                        <i class="material-icons right b-button-icon__icon">delete</i>
                    </button>
                </div>
                <div class="b-user-list-control-button__edit">
                    <button class="b-button-icon b-button-icon_circle js-user-edit" >
                        <i class="material-icons right b-button-icon__icon">settings_backup_restore</i>
                    </button>
                </div>

            </div>

        </div>
    </div>

