    <div class="b-personal-info">
        <div class="b-personal-info__foto">
            <img class="b-personal-info__foto_size" src="{{image_path}}" alt=""/>
        </div>
        <div class="b-personal-info__name">
            <div class="b-list-info">
                <div class="b-list-info__element">

                    <div class="b-field-text">
                        <input class="b-field-text__input b-field-text__input_small" value="{{firstName}}" type="text" placeholder="First Name" id="user-first-name">
                    </div>

                </div>
                <div class="b-list-info__element">

                    <div class="b-field-text">
                        <input class="b-field-text__input  b-field-text__input_small" value="{{lastName}}" type="text" placeholder="Last Name" id="user-last-name">
                    </div>
                </div>
                <div class="b-list-info__element">
                    <div class="b-field-text">
                        <input class="b-field-text__input  b-field-text__input_small" value="{{role}}" type="text" placeholder="Role" id="user-role">
                    </div>
                </div>
            </div>
        </div>
        <div class="b-personal-info__mail">
            <div class="b-list-info">
                <div class="b-list-info__element">
                    <div class="b-field-text">
                        <input class="b-field-text__input  b-field-text__input_small" value="{{mail}}" type="text" placeholder="Mail" id="user-mail">
                    </div>
                </div>
                <div class="b-list-info__element">

                    <div class="b-field-text">
                        <input disabled class="b-field-text__input b-field-text__input_small" value="{{_id}}" type="text" placeholder="id" id="user-id">
                    </div>

                </div>
                <div class="b-list-info__element">
                    <div class="b-field-text">
                        <input class="b-field-text__input  b-field-text__input_small" value="{{password}}" type="text" placeholder="Password" id="user-password">
                    </div>
                </div>
            </div>
        </div>


        <div class="b-personal-info__buttons">

            <button class="b-button-icon b-button-icon_circle b-button-icon_red js-user-not-edit" >
                <i class="material-icons right b-button-icon__icon">close</i>
            </button>

            <button class="b-button-icon b-button-icon_circle b-button-icon_green user-edit" >
                <i class="material-icons right b-button-icon__icon">done</i>
            </button>

        </div>
    </div>

