    <div class="b-personal-info">
        <div class="b-personal-info__foto">
            <img class="b-personal-info__foto_size" src="{{image_path}}" alt=""/>
        </div>
        <div class="b-personal-info__name">
            <div class="b-list-info">
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">FirstName:</div>
                        <div class="b-list-element__text">{{firstName}}</div>
                    </div>
                </div>
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">LastName:</div>
                        <div class="b-list-element__text">{{lastName}}</div>
                    </div>
                </div>
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">Role:</div>
                        <div class="b-list-element__text">{{Role}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-personal-info__mail">
            <div class="b-list-info">
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">Mail:</div>
                        <div class="b-list-element__text">{{mail}}</div>
                    </div>
                </div>
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">id:</div>
                        <div class="b-list-element__text">{{_id}}</div>
                    </div>
                </div>
                <div class="b-list-info__element">
                    <div class="b-list-element">
                        <div class="b-list-element__title">Password:</div>
                        <div class="b-list-element__text">{{password}}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="b-personal-info__buttons">

            <button class="b-button-icon b-button-icon_circle b-button-icon_red user-remove" >
                <i class="material-icons right b-button-icon__icon">delete</i>
            </button>

            <button class="b-button-icon b-button-icon_circle user-edit" >
                <i class="material-icons right b-button-icon__icon">settings_backup_restore</i>
            </button>

        </div>
    </div>

