    <div class="b-personal-info b-personal-info_dish-size">
        <div class="b-personal-info__foto">
            <img class="b-personal-info__foto_size" src="{{image_path}}" alt=""/>
        </div>


        <div class="b-personal-info__dish-list-info">


            <div class="b-dish-list-info">
                <div class="b-dish-list-info__dish-name">
                    <div class="b-list-element">
                        <div class="b-list-element__title">Name:</div>
                        <div class="b-list-element__dish-text">{{name}}</div>
                    </div>
                </div>
                <div class="b-dish-list-info__dish-category-weight-price">
                    <div class="b-dish-list-info">
                        <div class="b-dish-list-info__element">
                            <div class="b-list-element">
                                <div class="b-list-element__title">Category:</div>
                                <div class="b-list-element__text">{{category}}</div>
                            </div>
                        </div>
                        <div class="b-dish-list-info__element">
                            <div class="b-list-element">
                                <div class="b-list-element__title">Price:</div>
                                <div class="b-list-element__text">{{price}}</div>
                            </div>
                        </div>
                        <div class="b-dish-list-info__element">
                            <div class="b-list-element">
                                <div class="b-list-element__title">Weight:</div>
                                <div class="b-list-element__text">{{weight}}</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="b-dish-list-info__dish-description">

                    <div class="b-list-element">
                        <div class="b-list-element__title">Description:</div>
                        <div class="b-list-element__dish-text">{{description}}</div>
                    </div>

                </div>
            </div>
        </div>







        <div class="b-personal-info__buttons">

            <button class="b-button-icon b-button-icon_circle b-button-icon_red js-dish-remove" >
                <i class="material-icons right b-button-icon__icon">delete</i>
            </button>

            <button class="b-button-icon b-button-icon_circle js-dish-edit" >
                <i class="material-icons right b-button-icon__icon">settings_backup_restore</i>
            </button>

        </div>
    </div>

