    <div class="b-dish-edit-info">
        <div class="b-dish-edit-info__foto">
            <img class="b-dish-edit-info__foto_size" src="{{image_path}}" alt=""/>
        </div>

        <div class="b-dish-edit-info__input-block">
            <div class="b-list-info">
                <div class="b-list-info__element">

                    <div class="b-field-text">
                        <input class="b-field-text__input b-field-text__input_small" value="{{name}}" type="text" placeholder="Dish Name" id="dish-name">
                    </div>

                </div>

                <div class="b-list-info__element">

                    <div class="b-field-select b-field-select_small">
                        <select class="b-field-select__input b-field-select__input_small" id="dish-category">
                            {{#each categoryList}}
                                <option value="{{this.val}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>


                <div class="b-list-info__element">
                    <div class="b-field-text">
                        <input class="b-field-text__input  b-field-text__input_small" value="{{description}}" type="text" placeholder="Description" id="dish-description">
                    </div>
                </div>

            </div>
        </div>

        <div class="b-dish-edit-info__input-block">
            <div class="b-list-info">
                <div class="b-list-info__element">
                    <div class="b-field-text">
                        <input class="b-field-text__input  b-field-text__input_small" value="{{weight}}" type="text" placeholder="Weight" id="dish-weight">
                    </div>
                </div>
                <div class="b-list-info__element">

                    <div class="b-field-text">
                        <input class="b-field-text__input b-field-text__input_small" value="{{price}}" type="text" placeholder="Price" id="dish-price">
                    </div>

                </div>
            </div>
        </div>


        <div class="b-dish-edit-info__buttons">

            <div class="b-dish-control-button">

                <div class="b-dish-control-button__cancel">
                    <button class="b-button-icon b-button-icon_circle b-button-icon_red js-dish-not-edit" >
                        <i class="material-icons right b-button-icon__icon">close</i>
                    </button>
                </div>
                <div class="b-dish-control-button__save">
                    <button class="b-button-icon b-button-icon_circle b-button-icon_green js-dish-edit-save" >
                        <i class="material-icons right b-button-icon__icon">done</i>
                    </button>
                </div>

            </div>


        </div>
    </div>

