<div class="b-ord__week-day">{{day}}</div>
{{#each dishes}}
<div class="b-ord-attr">
    <div class="b-ord-dish__name">{{dish.name}}</div>
    <!--<div class="b-ord-dish__id">{{dish.id}}</div>-->
    <div class="b-ord-dish__price">{{ dish.price}}</div>
    <div class="b-ord-dish__quantity">{{quantity}}</div>
    <div class="b-ord-dish__totalsum">{{totalsum}}</div>
</div>
{{/each}}


